:root {
    --spanish-roast: #0d172e; /* Background */
    --american-silver: #ced1ce; /* Color    ,   Border */
    --vinca: #5576a7; /* parent background */
    
    --stream: #4c5e7a;
    --bosco-blue: #76a0ae;
    --waza-bear: #5f5a57;
    --catawba-grape: #5b4043;
    --sappanwood-incense: #a0504d;
    --blue-depths: #253057;
    --school-ink: #31383f;
}