$font-family: "Heebo", sans-serif;
$font-size-def: 16pt;

.font-12 {
	font-size: 12pt;
}
.font-14 {
	font-size: 14pt;
}
.font-16 {
	font-size: 16pt;
}
.font-18 {
	font-size: 18pt;
}
.font-20 {
	font-size: 20pt;
}
.font-22 {
	font-size: 22pt;
}
.font-24 {
	font-size: 24pt;
}
.font-26 {
	font-size: 26pt;
}
.font-28 {
	font-size: 28pt;
}
.font-30 {
	font-size: 30pt;
}
.font-32 {
	font-size: 32pt;
}

.font-bold {
	font-weight: bold;
}

.font-normal {
	font-weight: normal;
}

.font-light {
	font-weight: lighter;
	color: $black-col-lighter;
	// opacity: 0.75;
}

.font-no-decoration {
	text-decoration: none;
}

.text-align-center {
	text-align: center;
}

.text-align-justigy {
	text-align: justify;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}
