{{ define "content" }}

{{/*
<div class="heading"></div>
*/}}
<div class="wrapper">
	<div class="cards-wrapper">
		{{ range  .Pages }}
		{{ if ne .Params.hidden true }}
		<div class="card">
			<div class="card-img">
				{{ $headImg := resources.Get .Params.img }}
				<img src="{{ $headImg.RelPermalink }}" />
				<p class="font-bold font-16 col-white-smoke bg-col-negative">#{{ .Params.index }}</p>
			</div>
			{{/*
			<h1 class="title font-20 font-bold">{{.Title}}</h1>
			*/}}
			<div class="text-wrap">
				<h1>
					<a href="{{.RelPermalink}}">{{.Params.postHeading}}</a>
				</h1>
				<p class="date">{{.Date.Format "Monday 01 Jan 2006"}}</p>
				<p>{{truncate 225 " ..." .Params.postSummary}}</p>
				<a href="{{.RelPermalink}}"
					class="link font-no-decoration font-bold font-16 col-white bg-col-primary text-align-center">To the
					project!</a>
			</div>
		</div>
		{{ end }}
		{{ end }}
	</div>
</div>
{{ end }}