{{ define "content" }}

{{/*
<div class="heading"></div>
*/}}
<div class="wrapper">
	{{ range.Pages }}
	<div class="cards-wrapper">
		<div class="card">
			<img src="{{.Params.img}}" />
			{{/*
			<h1 class="title font-20 font-bold">{{.Title}}</h1>
			*/}}
			<div class="text-wrap">
				<h1>
					<a href="{{.RelPermalink}}">{{.Params.postHeading}}</a>
				</h1>
				<p class="date">{{.Date.Format "Monday 01 Jan 2006"}}</p>
				<p>{{truncate 225 .Params.postSummary}}</p>
				<a
					href="{{.RelPermalink}}"
					class="link font-no-decoration font-bold font-16 col-white bg-col-primary text-align-center"
					>To the project!</a
				>
			</div>
		</div>
	</div>
	{{ end }}
</div>
{{ end }}
