{{ define "content" }}
<div class="post-wrapper">
  {{.Content}}
  {{ if ne .Params.hidden true }}
  <div class="links">
    {{if .PrevInSection }}
    <a class="button font-16 font-bold font-no-decoration col-white bg-col-primary"
      href="{{.PrevInSection.RelPermalink}}">
      <</a> {{ else }} <a class="button font-16 font-bold font-no-decoration col-white bg-col-black-light">
        <</a> {{ end }} <a class="button font-16 font-bold font-no-decoration col-white bg-col-primary"
          href="{{.Parent.RelPermalink}}">Go
          back
    </a>
    {{if .NextInSection }}
    <a class="button font-16 font-bold font-no-decoration col-white bg-col-primary"
      href="{{.NextInSection.RelPermalink}}">></a>
    {{else}}
    <a class="button font-16 font-bold font-no-decoration col-white bg-col-black-light">></a>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}