<input type="checkbox" id="nav-toggle" />
<label for="nav-toggle" class="navigation">
  <span></span>
  <span></span>
  <span></span>
</label>

<nav>
  <div class="wrap">
    <a class="nav-link col-white bg-col-primary font-no-decoration font-16 font-bold" href="/index.html">Home</a>
    <a class="nav-link col-white bg-col-primary font-no-decoration font-16 font-bold"
      href="/projects/index.html">Projects</a>

    <a class="nav-link col-white bg-col-primary font-no-decoration font-16 font-bold" href="/about/index.html">About</a>
  </div>
</nav>